.main {
  margin: 3rem;
}

.bg-content {
  background-color: beige;
}

.content {
  margin: 1rem;
}

h1 {
  color: green;
}

button:hover {
  cursor: pointer;
}

.job-container {
  display: flex;
  flex-direction: column;
}

.job-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.job-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  color: green;
  padding: 15px;
  width: 40rem;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.job-title {
  font-weight: bold;
}

.job-button {
  border: 0;
  border-radius: 5px;
  background-color: orange;
  color: white;
  font-size: 15px;
  font-weight: 200;
  margin-top: 0.5rem;
}
.form-row {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
input {
  border: none;
  border-bottom: 1px rgb(79, 79, 79) solid;
  background-color: transparent;
}

.submit-button {
  border: 0;
  border-radius: 5px;
  background-color: grey;
  color: white;
  font-size: 15px;
  font-weight: 200;
  margin-top: 0.5rem;
}
